/* @font-face {
    font-family:AzarMehr;
    src: url("/fonts/AzarMehr-Medium.ttf") , 
    
}
@font-face {
    font-family:AzarMehr;
    src: url("/fonts/AzarMehr-ExtraBold.ttf");
}
@font-face {
    font-family:AzarMehr;
    src: url("/fonts/Digit/AzarMehr-FD-Medium.ttf");
} */

/* @font-face {
    font-family: Iran-Sans;
    src: url(/fonts/IranSans/Iranian\ Sans.ttf);
} */

@font-face {
  font-family: Pinar;
  src: url(/fonts/Pinar/Pinar-Medium.ttf);
}
@font-face {
    font-family: Pinar;
    src: url(/fonts/Pinar/FD/Pinar-DS2-FD-Medium.woff2);
}